.board-modal {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    .board-modal-header {
        width: 100%;
        background-color: #EEF8D8;
        padding: 15px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-weight: 500;
    }

    .board-modal-content {
        padding: 10px 15px;
        width: 100%;
    }
}