.node {
    width: 250px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #9EA5AE;
    background-color: #F4F6F8;
    border-radius: 7px;

    .node-header {
        background-color: #ffffff;
        width: 100%;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        padding: 10px 0;
        color: #9EA5AE;
    }

    .node-content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 15px 0;

        select {
            outline: none;
            border: 2px solid #9EA5AE;
            background-color: #ffffff;
            text-align: center;
            text-transform: uppercase;
            font-size: 18px;
            width: 90%;
            height: 40px;
            color: #000000;
            font-weight: 500;
        }
    }

    &-green {
        padding: 3px;
        background-color: #18ab65;
        border: none #0f5132;

        .node-header {
            background-color: #0f5132;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        .node-content {
            background-color: #0c4128;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;

            select {
                border-color: #18ab65;
            }
        }
    }
}